body {
  
  background-color: grey;
  
}

.welcome {
  
  color: navy;
  text-align: center;
}
#link {
  text-align: center;
}

#button {
  
  color: red;
  background-color: black;
   height: 50px;
   width: 50%px;
  text-align: center;
  display: inline-block;
}